<h1>Fill the following details </h1>

<form #contactForm="ngForm" (ngSubmit)="onSubmit(contactForm)">
<p>
First Name : <input type="text" name="firstName" ngModel>
</p>
<p>
Last Name : <input type="text" name="lastName" ngModel>
</p>
<p>
Email : <input type="text" name="email" ngModel>
</p>
<p>
  Gender : 
  <input type="radio" value="Male" name="gender" ngModel>Male
  <input type="radio" value="Female" name="gender" ngModel>Female
</p>
<p>
Is Married : <input type="checkbox" name="isMarried" ngModel>
</p>
<p>

  <select name="countryList" ngModel>
    <option [value]="country.name" *ngFor="let country of countryList">{{country.name}}</option>
  </select>
</p>
<p>
<button type="submit">Submit</button>
  </p>

</form>